@import "_header.css";

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto/Roboto-Regular.ttf');  
}

@font-face {
  font-family: 'Roboto_Slab';
  src: url('../font/Roboto_Slab/RobotoSlab-Bold.ttf');
  font-weight: 800;  
}


body, html{
  height: 100%;
}

body{
  background: #f2f2f2;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

main{
  margin-left: 13px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1.415fr 1fr;
  grid-template-rows: 1fr 1fr 100%;
  height: 100%;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style-type: none;
}

header{
  height: 97px;
  grid-column: 1;
  grid-row: 1;
  width: 90%;
}

nav.main-navigation ul{
  display: flex;
  height: 100%;
}

nav.main-navigation ul li{
  padding: 0 1em;
  border-right: 1px solid #e4e4e4;
  flex: 1;
  text-align: center;
  text-transform: capitalize;
  padding-top: 50px;
  color: rgba(0,0,0,.3);
  transition: 0.4s;
}

nav.main-navigation ul li.li-ebooks{
  background-image: url(../img/cody.svg);
  background-repeat: no-repeat;
  background-position: right .25em;
  background-size: 2.25em auto;
}

nav.main-navigation ul li.li-ebooks:hover{
  background: #ff6;
  cursor: pointer;
  color: rgba(0,0,0,.6);
  background-image: url(../img/cody.svg);
  background-repeat: no-repeat;
  background-position: right .25em;
  background-size: 2.25em auto;
}

nav.main-navigation ul li:hover{
  background: #ff6;
  cursor: pointer;
  color: rgba(0,0,0,.6);
}

nav.main-navigation ul li:first-child:hover{
  background: #fff;
}

nav.main-navigation ul li:first-child{
  border: none;
  flex: 3.7!important;
  padding-top: 30px;
  transition: inherit;
}

li.logo{
  background: #fff;
  z-index: 1;
}

li.logo a{
}

li.logo img{
  width: 100%;
  height: auto;
  border: 0;
}

/* main content */
.article-navigation-container{
  grid-column: 1;
  grid-row: 2;
  height: 75px;
  border-top-right-radius: 18px;
  margin-top: -10px;
  z-index: 1;
}

div.article-navigation-container{
  border-bottom: .3125em solid rgba(0, 0, 0, 0.06);
}

ul.article-navigation{
  display: flex;
  margin-bottom: -5px;
  line-height: 5px;
  padding-top: 40px;
  width: 88%;
  font-size: 69%;
  padding-left: 5%;
}

.article h2{
  font-family: 'Roboto_Slab';
  font-weight: 800;
}

.article-navigation li{
  transition: 0.3s;
}
.article-navigation  a{
  padding: 1em;
  
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-right: 1px solid #ccc;
  display: inline-table;
  transition: 0.3s;
  letter-spacing: 3px;
  text-decoration-line: none;
  color: black;
}

.article-navigation li:last-child{
  border-right: none;
}

.article-navigation li.li-wp{
  border-bottom: 5px solid #BCD8F0;
}

.article-navigation li.li-wp:hover{
  border-bottom: 5px solid  #0686F5;
}

.article-navigation li.li-ux{
  border-bottom: 5px solid #FACED2;
}

.article-navigation li.li-ux:hover{
  border-bottom: 5px solid #F45967;
}

.article-navigation li.li-graphics{
  border-bottom: 5px solid #E0CFDF;
}

.article-navigation li.li-graphics:hover{
  border-bottom: 5px solid #B273AD;
}

.article-navigation li.li-mobile{
  border-bottom: 5px solid #F9F0A8;
}

.article-navigation li.li-mobile:hover{
  border-bottom: 5px solid #E7D327;
}

.article-navigation li.li-design{
  border-bottom: 5px solid #CDEEAA;
}

.article-navigation li.li-design:hover{
  border-bottom: 5px solid #77C228;
}

.article-navigation li.li-coding{
  border-bottom: 5px solid #C9E9E5;
}

.article-navigation li.li-coding:hover{
  border-bottom: 5px solid #2CC3AE;
}

.article-navigation a:hover{
  background: #ff6;
  cursor: pointer;
  color: rgba(0,0,0,.6);
}

.search{
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 99%;
}

.icons{
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  padding: 49px 20px 0 0;
}

.icons-ul{
  display: flex;
  float: right;
  justify-content: space-around;
}

.icons-ul li{
  width: 2em;
}

.icons-ul li a{
  text-indent: 100%;
  color: rgba(255, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  width: 1.4375em;
  height: 1.4375em;
  text-decoration: none;
  background-image: url(../img/channels.svg);
  background-size: 355% 600%;
  transition: all .3s;
  opacity: .45;
}

.icons-ul li a:hover{
  opacity: 1;
}

.rss a{
  background-position: 61% 35.5%;  
}

.fb a{
  background-position: 74% 62%;
}

.tw a{
  background-position: 67% 90%;
}

.nl a{
  background-position: 74% 9%;
}

.search-title{
  display: flex;
  color: rgba(0,0,0,.3);
  padding-top: 2.5em;
}

.search button{
  background-color: #e95c33;
  border: .08em solid #c73a11;
  margin-right: 3%;
  border-left: 0;
  border-radius: 0 .5em .5em 0;
  line-height: 2.25;
  width: 23%;
  height:  2.375em;;
  float: right;
  margin-top: 20px;
  color: #fff;
  font-size: 1.125em;
}

.search input{
  height: 2.352em;
  padding: .375em 0 .375em 2%;
  line-height: 1.5;
  padding: .5em;
  color: #777;
  border: .08em solid rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: .5em 0 0 .5em;
  margin-top: 20px;
  width: 74%;
  font-size: 1.125em;
  outline: none;
  transition: border-color .3s;
  border-right: 0;
}

.search input:focus{
  border: 0.08em solid rgba(0,0,0,.26);
  border-right: 0;  
}

.Subscribe{
  grid-column: 2;
  grid-row: 2 / span 2;
  border: .08em solid rgba(0,0,0,.1);
  border-left: 0;
  background: rgba(255,255,255,.55);
  border-radius: 0 .625em .625em 0;
  margin: 4.8em 0 1.5em -1.0em;
  padding: 0 1.25em 3em;
  height: 280px;
  width: 92%;
}

.Subscribe a{
    font-size: 130%;
    text-decoration: none;
    vertical-align: baseline;
    padding: 0;
    background: 0 0;
    color: #41b7d8;
}

.Subscribe a img{
  padding-right: 1.5em;
}

.Subscribe p{
  color: rgba(20, 17, 17, 0.67);
}

.email-input button{
  background-color: #e95c33;
  border: .08em solid #c73a11;
  margin-right: 3%;
  border-left: 0;
  border-radius: 0 .5em .5em 0;
  line-height: 2.25;
  width: 25%;
  height:  2.375em;;
  float: right;
  color: #fff;
  font-size: 1.125em;
}

.Subscribe input{
  height: 2.352em;
  padding: .375em 0 .375em 2%;
  line-height: 1.5;
  padding: .5em;
  color: #777;
  border: .08em solid rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: .5em 0 0 .5em;
  width: 72%;
  font-size: 1.125em;
  outline: none;
  transition: border-color .3s;
  border-right: 0;
}

.Subscribe input:focus{
  border: 0.08em solid rgba(0,0,0,.26);
  border-right: 0;
}

.email-input a img{
  padding-top: 1em;
  height: 1.5em;
 }

article{
  background-color: #fff;
  grid-column: 1;
  grid-row: 2;
  padding: 110px 0 50px 50px; 
  height: 100%;
  border-top-right-radius: 16px;
  margin-top: -20px;
}

h2, h3 {
    font-family: "Skolar Bold","Segoe UI Bold",
    "Roboto Slab","Droid Serif",AvenirNext-Bold,
    "Avenir Bold",Georgia,"Times New Roman",Times,serif;
}

article ul li{
  color: rgba(0,0,0,.3);
  display: inline-block;
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 22px;
}

.author{
  border-bottom: .08em solid rgba(0,0,0,.1);
  line-height: 76px;
  color: rgba(0,0,0,.3);
}

.author a{
  color: #41b7d8;
  text-decoration: none;
}

article ul li a{
  text-decoration: none;
  color: #41b7d8;
}

article p{
  margin-bottom: 0;
}

figure{
  margin: 0px;
  margin-left: -10px;
  background-color: #fff;
  padding: 30px;
}

footer{
  grid-column: 1;
  grid-row: 4;
  font-size: .7em;
  text-align: left;
  margin: 30 46 2em;
  color: rgba(0,0,0,.35);
  height: 14.5em;
}

.flinks a{
  color: #41b7d8;
  text-decoration: none;
  padding: 0.4em;  
}

@media(max-width: 1223px){
  main{
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    grid-gap: 0;
  }

   footer{
     grid-column: 1 / span 2;
     grid-row: 5;
     margin: 162px 46 2em;
    }

   .Subscribe{
     display: none;
   }

  header{
    grid-row: 1;
    grid-column:  1 / span 2;
    height: 148px;
    width: 70%;
  }

  .icons{
    grid-row: 1;
    grid-column: 2;
    padding-top: 48px!important;
  }

  footer p{
    margin-top: 50px;
  }

  .search{
    grid-row: 2 ;
    grid-column: 1 / span 2;
    background-color: #fff;
    padding-left: 1%;
  }

  .article-navigation-container{
    grid-row: 3 ;
    grid-column: 1;
    padding-top: 73px;
    padding-bottom: 67px;
    margin-top: 0;
    background-color: #fff;
    border-radius: 0;
    height: 100%;
  }

  ul.article-navigation{
    display: block;
    padding-left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    font-size: 85%;
  }

  .article-navigation li a{
    border-bottom: 0;
    border-left: 10px solid #63BFB2;
    border-right: 0;
    letter-spacing: 0.2em;
    height: 35px;
    width: 90%;
    text-align: left;
  }

  article{
    grid-row: 3;
    grid-column:  2;
  }
}

@media(max-width: 999px){
  main{
    margin: 0 ;
    display: grid;
    grid-gap: 0;
    grid-template-columns:  100%;
    grid-template-rows: 1fr 1fr;
  }

  .search{
    display: none;
  }

  .Subscribe{
    display: none;
  }

  .author{
    width: calc(100% - 90px);
  }

  .article-navigation-container{
    display: none;
  }

  .icons{
      grid-column: 1;
      grid-row: 1;
  }
  
  nav.main-navigation ul{
    width: 43%;
    height: auto;
  }

  nav.main-navigation ul li{
    display: none;
  }

  nav.main-navigation ul li:first-child{
    display: block;
    background-color: #f2f2f2;
  }

  nav.main-navigation ul li:first-child:hover{
        background-color: #f2f2f2;
  }

  
  li.logo img{
    grid-row: 1;
    grid-column: 1;
    background: #f2f2f2;
    padding-top: 0%;
    margin-left: 0px;
    width: 100%;
  }

  article{
    grid-row: 2 ;
    grid-column:  1;
    width: 100%;
    padding: 0;
    border-top-right-radius: 0;
  }

  article h2,h3{
    margin: 6%;
    width: 60%;
  }

  article ul{
    width: 88%;
    margin: auto;
  }

  article ul li{
    display: inline-block;
  }

  article p{
    width: 90%;
    margin: 6%;
  }

  figure img{
    max-width: 100%;
  }
  footer{
    margin: 0 46 2em;
  }
}

@media(max-width: 800px){
  li.logo img{
     width: 130%;
  }
}

@media(max-width: 670px){
  li.logo img{
     width: 160%;
  }
}

@media(max-width: 500px){
  li.logo img{
     width: 220%;
  }
}

@media(max-width: 440px){
  li.logo img{
    width: 280%;
 }
}

@media(max-width: 340px){
  li.logo img{
    width: 315%;
 }
}
  
