body, html{
  height: 100%;
}

body{
  background: #f2f2f2;
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
}

main{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 100%;
  grid-template-areas: "header search"
                       "content search";
  height: 100%;
}

ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style-type: none;
}

header{
  height: 85px;
  grid-area: header;
  width: 90%;
}

/* main navigation */

nav.main-navigation ul{
  display: flex;
  height: 100%;
}

nav.main-navigation ul li{
  padding: 0 1em;
  border-right: 1px solid #e4e4e4;
  flex: 1;
  text-align: center;
  text-transform: capitalize;
  padding-top: 50px;
  color: rgba(0,0,0,.3);
  transition: 0.8s;
}

nav.main-navigation ul li:hover{
  background: #ff6;
  cursor: pointer;
  color: rgba(0,0,0,.6);
}

nav.main-navigation ul li:first-child:hover{
  background: #fff;
}

nav.main-navigation ul li:first-child{
  border: none;
  flex: 2!important;
  padding-top: 0;
}

li.logo{
  background: #fff;
  z-index: 1;
}

li.logo img{
  max-width: 200px;
  height: 100%;
}

/* main content */
.content{
  background: #fff;
  height: 100%;
  grid-area: content;
  border-top-right-radius: 18px;
  margin-top: -10px;
  box-shadow: 0px 2px 7px grey;
}

.content div.article-navigation-container{
  border-bottom: .3125em solid rgba(0,0,0,.06);
}

.content ul.article-navigation{
  display: flex;
  margin-bottom: -5px;
  line-height: 5px;
  padding-top: 54px;
  width: 80%;
  font-size: 80%;
  padding-left: 5%;
  grid-area: article-navigation;
}

.article-navigation li{
  padding: 1em;
  border-bottom: 5px solid #63BFB2;
  text-align: center;
  border-right: 1px solid #ccc;
  display: inline-table;
  transition: 0.8s;
}

.article-navigation li:last-child{
  border-right: none;
}

.article-navigation li:hover{
  background: #ff6;
  cursor: pointer;
  color: rgba(0,0,0,.6);
}

.search{
  grid-area: search;
}

.search input{
  width: 100%;
}

.search-title{
  display: flex;
  justify-content: space-between;
  color: rgba(0,0,0,.3);
  padding-top: 3em;
}

.search input{
  border-radius: 5px;
  width: 75%;
  margin: 20px;
  margin-top: 0;
}


article{
  background-color: #fff;
}

article ul li{
  color: rgba(0,0,0,.3);
}

article ul li a{
  text-decoration: none;
  color: #41b7d8;
}


@media(max-width: 1223px){
  main{
    grid-template-columns: 1 ;
    grid-template-rows: 4;

 }

header{
  grid-row: 1;
  grid-column: 1 1;
}

.search{
  grid-row: 3;
  grid-column: 1 1;
}
.content{
  grid-row: 4;
  grid-column: 1 1;
}
}
